p {
	/* 1 rem = 16px by default, cn be changed by user from his browser settings */
	font-size: 1rem;
	border: 0.1rem solid black;
	padding: 0.5rem;
}
html {
	/* now 1 rem = 10px as html root size is now 10px */
	/* font-size: 10px; */
}
